{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% include 'home/_sidebar.html' %}
            </div>
            <div class="col-sm-9">
                <form method="post">
                    {{ form.csrf_token }}
                    <div class="mb-3">
                        {{ form.content.label(class="form-label") }}
                        {{ form.content(class="form-control", rows="6") }}
                        {% for message in form.content.errors %}#}
                            <div class="invalid-feedback">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="col-2 form-group position-relative">
                        {{ form.publish(class='btn btn-secondary') }}
                    </div>
                </form>
            </div>
        </div>
    </div>



{% endblock %}