{% extends 'base.html' %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">{% endblock %}
{% block content %}
    <div class="parent clearfix">
        <div class="bg-illustration">
            <img src="https://i.ibb.co/Pcg0Pk1/logo.png" alt="logo">

            <div class="burger-btn">
                <span></span>
                <span></span>
                <span></span>
            </div>

        </div>

        <div class="login">
            <div class="container">
                <h1>Login to access to<br/>your account</h1>

                <div class="login-form">
                    <form action="" method="post">
                        {{ form.csrf_token }}
                        {{ form.username(placeholder="Username") }}
                        {{ form.password(placeholder="Password") }}
                        {{ form.password2(placeholder="Confirm Password") }}
                        {{ form.submit }}
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}