{% block content %}{% endblock %}
<div class="flex-shrink-0 p-3 bg-white">
    <a href="{{ url_for('home.index') }}" class="d-flex pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <span class="fs-5 fw-semibold text-center offset-sm-1">Home</span>
    </a>
    <ul class="list-unstyled ps-0">
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#home-collapse" aria-expanded="true">
                Most popular tags
            </button>
            <div class="collapse show" id="home-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for tag in most_popular_tags %}
                        <li><a href="{{ url_for('home.show_tag',tag_id=tag.id) }}"
                               class="link-dark rounded">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                Most active users
            </button>
            <div class="collapse" id="dashboard-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    {% for user in most_active_users %}
                        <li><a href="{{ url_for('personal.show_personal_question',user_id=user.id ) }}"
                               class="link-dark rounded">{{ user.username }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>

    </ul>
</div>