{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% include 'home/_sidebar.html' %}
            </div>
            <div class="col-sm-9">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-1">{{ question.title }}</h5>
                        <div class="d-flex w-100 justify-content-between">
                            <div>
                                {% for tag in question.tags %}
                                    <span class="badge bg-secondary rounded-pill">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                            <small>{{ moment(question.timestamp).format('LL') }} Asked
                                by {{ question.user.username }}</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ question.content|safe }}</p>
                    </div>
                </div>
                <h4>{{ question.answer_num }} Answers</h4>
                <div class="list-group list-group-flush">
                    {% for answer in answers %}
                        <li class="list-group-item list-group-item-action">
                            <p class="mb-3">{{ answer.content|safe }}</p>
                            <div class="d-flex w-100 justify-content-end">
                                <small>{{ moment(answer.timestamp).format('LL') }} Answered
                                    by {{ answer.user.username }} </small>
                            </div>
                            {% if current_user.is_admin %}

                                <button type="button" class="btn btn-outline-danger delete-btn"
                                        data-href="{{ url_for('admin.delete_answer', answer_id=answer.id) }}"
                                        aria-label="Close">Delete
                                </button>
                            {% endif %}
                        </li>

                    {% endfor %}

                </div>
                <a class="btn btn-primary" href="{{ url_for('personal.edit_answer', question_id=question.id) }}"
                   role="button">Click there to answer question</a>
            </div>
        </div>
    </div>

{% endblock %}