{% extends 'base.html' %}
{% block title %}Tags{% endblock %}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% include 'home/_sidebar.html' %}
            </div>
            <div class="col-sm-9">
                <div class="album py-5 bg-light">
                    <div class="container">
                        {% if current_user.is_admin %}
                            <a class="btn btn-primary mb-3" href="{{ url_for('admin.new_tag') }}" role="button">New
                                Tag</a>

                        {% endif %}
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

                            {% for tag in tags %}
                                {% include 'home/_tag.html' %}

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
