{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                {% include 'home/_sidebar.html' %}
            </div>
            <div class="col-sm-9">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="mb-1">{{ question.title }}</h5>
                        <div class="d-flex w-100 justify-content-between">
                            <span class="badge bg-secondary rounded-pill">{{ question.tag.name }}</span>
                            <small>{{ moment(question.timestamp).format('LL') }} Asked
                                by {{ question.user.username }}</small>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ question.content }}</p>
                    </div>
                </div>
                <h4>{{ question.answer_num }} Answers</h4>
                <div class="list-group list-group-numbered list-group-flush">
                    {% for answer in answers %}
                        <li class="list-group-item list-group-item-action">
                            <p class="mb-3">{{ answer.content }}</p>
                            <div class="d-flex w-100 justify-content-end">
                                <small>{{ moment(answer.timestamp).format('LL') }} Answered
                                    by {{ answer.user.username }} </small>
                            </div>
                        </li>

                    {% endfor %}

                </div>


            </div>
        </div>
    </div>

{% endblock %}